<p>Hi {{name}}!</p>

<p>Thanks so much for joining us to alpha test <strong>dwyl</strong>
(<em><strong>D</strong>o <strong>W</strong>hat <strong>Y</strong>ou <strong>L</strong>ove</em>),
	we’re excited to have you on board!</p>

<p>For now, dwyl will help you track your time and soon it will help you
	do much more, including
	<a href="https://github.com/ideaq/start-here/blob/master/manifesto.md">
		making time for what you love<a/>.
</p>

<p>If you have any questions or find any issues, big or small,
	please drop us a note (by email or twitter) or
	<a href="https://github.com/ideaq/time/labels/MVP">add an issue to github</a>,
	we <i>really appreciate</i> your feedback!</p>

<p>Happy dwyling!</p>
<p>Inês &amp; Nelson<p>
<p><em>Co-Founders<em><p>
<a href="http://www.dwyl.io">http://www.dwyl.io</a>
